[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "leptokurticMixture"]
	path = leptokurticMixture
	url = https://github.com/cran/leptokurticMixture
